body{
    background-color: rgb(237, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    height: 85vh;
    width: 25vw;
    /* margin-left: 35%;
    margin-right: 35%; */
    border-radius: 5%;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    box-shadow: 0px 5px 10px rgb(205, 203, 203);
    padding: 2em 1em;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checklist *{
    text-align: center;
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.checklist{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* height: 60%; */
    /* justify-content: space-around; */
}

.logo img{
    max-height: 150px;
}

.buttons{
    display: flex;
    margin: 0px 0px;
}

button {
    background-image: linear-gradient(to right, #c7051c 0%, #7c0f0f  51%, #c7051c  100%);
    margin: auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    /* border-radius: 10px; */
    display: block;
    border-radius: 30px;
    font-size: 1em;
    width: 90%;
    height: 70%;
    margin-bottom: 4em;
    }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

button:active{
    border: 6px solid black;
    
}

.container a{
    text-decoration: none;
    width: 60%;
    text-align: center;
}